@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Poppins:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  list-style: none;
  text-decoration: none;
}

header {
  height: 135px;
  width: 100%;
  display: block;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(227, 213, 86);
}

nav {
  height: 135px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 153, 11);
  position: fixed;
}

ul {
  display: flex;
}

.menu__item,
.iconsUser {
  display: flex;
  text-align: center;
  align-items: center;
}

.fa-user, .fa-arrow-right-to-bracket {
  color: rgba(75, 76, 49, 0.988);
  height: 30px;
  width: 30px;

}

a {
  text-decoration: none;
}

a:hover {
  background-color: blanchedalmond;
  color: rgb(255, 115, 0);
}

.icons {
  display: flex;
}

li {
  padding-right: 20px;
  padding-left: 20px;
}

.icons__user {
  height: 40px;
  width: 40px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;

}

.btnUsario {
  color: rgb(254, 254, 254);
  font-family: 'Poppins', sans-serif;
  justify-content: center;
  
}

.menu__item__a {
  color: rgba(85, 81, 81, 0.781);
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}

.btnUsario {
  background-color: transparent;
  border: none;
}

h1,
.parrafo {
  background-color: rgb(52, 133, 119);
  padding: 15px;
  color: white;
  font-size: 20PX;
  font-family: 'Mukta', sans-serif;
  text-align: center;
}

.fondo {
  background-image: url("/assets/images/fondo2.jfif");
  background-repeat: no-repeat;
  height: 1000px;
  width: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.botonUnete {
  background-color: rgba(0, 0, 0, 0.267);
  border-radius: 8px;
  padding: 10px 50px 10px 50px;
  margin: 0 auto;
  position: absolute;
  top: 30%;
}
.textoUnete {
  color: rgb(255, 117, 11);
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

/* POP UP*/

.cajitaPopUp{
  display: flex;
  justify-content: center;
  position: fixed;
  top: 400px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  visibility: hidden;


}
.overlay {
  background: rgba(233, 97, 43, 0.574);
  height: 250px;
  width: 20%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  visibility: hidden;
}
.overlay.active {
  visibility: visible;
}
.botonUnete.active{
  visibility:visible;
}
.loginFrame .cerrarPopUp {
  font-size: 16px;
  line-height: 16px;
  display: block;
  text-align: right;
  color: #fff;
  transition: .3s ease all;
}
.loginFrame .cerrarPopUp:hover {
  color: black;
}
form {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}
.formCajas label {
  color: rgb(255, 247, 0);
  align-items:  center;
}
.datos {
  border: 1px;
  border-color: burlywood;
  border-radius: 8px;
  border-style: solid;
  padding: 10px;
  background-color: rgba(7, 19, 7, 0.39);
  width: 100%;
}
.btnLogin {
  cursor: pointer;
  transition: .3s ease alL;
  background: rgb(247, 237, 98);
  border-radius: 3px;
  width: 50%;
  height: 30px;
  border-style: none;
}
.btnLogin:hover {
  background: rgb(250, 158, 10);
}

/* css de fabulasVideo */
.SeccionInfo{
  background-color: rgb(131, 180, 32);
  padding: 15px;
  color: white;
  font-size: 20PX;
  font-family: 'Mukta', sans-serif;
  text-align: center;
}

.contenedor{
  margin: 40px auto 100px auto;
  width: 90%;
  max-width: 1500px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 40PX
}